
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">
    <title>Restaurants</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animsition.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
   
</head>
<body>
    <header id="header" class="header-scroll top-header headrom">
        <nav class="navbar navbar-dark">
            <div class="container">
                <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#mainNavbarCollapse">&#9776;</button>
                <a class="navbar-brand" > <img class="img-rounded" src="/images/logo.png" alt="" width="18%"> </a>
                <div class="collapse navbar-toggleable-md  float-lg-right" id="mainNavbarCollapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"> <a class="nav-link active" href="acasa">Home <span class="sr-only">(current)</span></a> </li>
                        <li class="nav-item"> <a class="nav-link active" href="restaurants">Restaurants <span class="sr-only"></span></a> </li>
                        <li class="nav-item"> <a class="nav-link active" href="myprofile">My Account</a> </li>
                        <li class="nav-item"> 
                            <form id="logoutForm" action="/processLogout" method="post" class="nav-link active">
                                <input type="submit" value="Log out">
                            </form>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="page-wrapper">
        <div class="top-links">
            <div class="container">
                <ul class="row links">

                    <li class="col-xs-12 col-sm-4 link-item active"><span>1</span><a href="#">Choose Restaurant</a></li>
                    <li class="col-xs-12 col-sm-4 link-item"><span>2</span><a href="#">Pick Your favorite food</a></li>
                    <li class="col-xs-12 col-sm-4 link-item"><span>3</span><a href="#">Order and Pay</a></li>
                </ul>
            </div>
        </div>
        <div class="inner-page-hero bg-image" data-image-src="/images/img/poza8.jpg">
            <div class="container">
                 </div>
        </div>
        <section class="featured-restaurants">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="title-block pull-left">
                            <h4>Featured Restaurants</h4>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="restaurants-filter pull-right">
                            <nav class="primary pull-left">
                            
                            </nav>
                        </div>
    
                    </div>
                </div>
        <div class="result-show">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
        <section class="restaurants-page">
            <div class="container">
                <div class="row">
                    
                </div>
            </div>

            <div class = "container"><p></p></div>

            
            <div class = "container">
                <% for(var i = 0; i<listaRestaurante.length; i++){%>
                <% var caleImagineBackend = "https://localhost:7099" + listaRestaurante[i]["image"] %>
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img class="restaurant-img" src="<%= caleImagineBackend %>" />
                        </div>
                        <div class = "col-md-8 text-center">
                            <div class="card-body">
                                <p></p>
                                <h5 class="card-title"><%= listaRestaurante[i]["name"] %></h5>
                                <p class="card-text"><%= listaRestaurante[i]["location"] %></p>
                                <p class="card-text"><%= listaRestaurante[i]["address"] %></p>
                                <p class="card-text">Open hours MON-FRY: <%= listaRestaurante[i]["mondayFridayOpen"] %> Close hours MON-FRY: <%= listaRestaurante[i]["mondayFridayClose"] %></p>
                                <p class="card-text">Open hours SAT-SUN: <%= listaRestaurante[i]["saturdaySundayOpen"] %> Close hours SAT-SUN: <%= listaRestaurante[i]["saturdaySundayClose"] %></p>
                                <p class="card-text"><%= listaRestaurante[i]["dateFiscale"] %></p>
                                <form action="dishes" method="GET" id ="getDishes">  
                                    <input type="hidden" name="restaurantIdSelected" value="<%= listaRestaurante[i]["id"] %>">
                                    <button type ="submit" class="btn btn-primary">View Menu</button> 
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>

    </div>
    </section>

    

    
    
    <script src="/js/jquery.min.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/animsition.min.js"></script>
    <script src="/js/bootstrap-slider.min.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/headroom.js"></script>
    <script src="/js/foodpicky.min.js"></script>
</body>
</html>